<!-- This file controls the view for user's profile pages.
It can be found at app/views/users/show.html.erb -->

<!-- This file's corresponding .scss file can be found at app/assets/stylesheets/users.scss -->

<html><body style = "background-color: white; padding-top: 0px;">

<!-- This will display the name of the current user. -->
<h1><%= @user.user_name%>'s Admin Page</h1>
<TABLE BORDER="0">
    <TR>
        <TD class = "select">Student Groups
        <select>
                <option value="group_1">Group 1</option>
                <option value="group_2">Group 2</option>
                <option value="group_3">Group 3</option>
                <option value="group_4">Group 4</option>
        </select>
        <TD ALIGN="center"></TD>
        </TD>
    </TR>
</TABLE>
