<h1>Plays#macbeth</h1>
<p>Find me in app/views/plays/macbeth.html.erb</p>

<!-- This prints the whole xml file out on the display
	 If you want to try it out, uncomment it. -->
<!-- Warning, takes a while to load, also contains xml tags -->

<!-- <%= File.read('FolgerDigitalTexts_XML_Complete/Mac.xml') %> -->