<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<p id="notice"></p>

<p id="title"><strong>Title:</strong></p>

<form action="/edit_plays">
    <input type="submit" value="Edit Play">
</form>


<div id="Play">
    <button id="word1" data-cut="false">wordthing</button>
    <button id="word2" data-cut="false">morewords</button>
</div>

<script>


document.querySelector("#Play").addEventListener("click", doCut, false);

// all words will need to be printed with the div class "Play"
// change "p" to the tag for words (not including names) and we will be able to cut only words
function doCut(e) {
    if (e.target.id !== "Play") {
        var clickedItem = e.target;
        var word = e.target.id;
        if (clickedItem.tagName.toLowerCase() == "button") {
            if (clickedItem.dataset.cut.toLowerCase() == "false") {
                document.getElementById(word).style.color = "#D3D3D3";
                clickedItem.dataset.cut = "true";
            }
            else {
                document.getElementById(word).style.color = "#000000";
                clickedItem.dataset.cut = "false";
            }
        }
        
    }
//    e.stopPropagation();
};

</script>


<p id="print_script"></p>

<h6></h6>


</body></html>
