<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<p id="notice"></p>

<div class="script-title">
    <div id="title-placeholder"></div>
<p id="title">Henry VI, Part 3</p>
</div>

<div class="script-side-bar">
    <div id="nav-placeholder"></div>
<div class="hidden-synopsis">
The English crown changes hands often in Henry VI, Part 3. At first, Richard, Duke of York, is allied with Warwick. York invades the throne-room of Henry VI with Warwick&rsquo;s army, but allows Henry to remain king if he makes York his heir&mdash;thus disinheriting Henry&rsquo;s son, Prince Edward.
Infuriated, Henry&rsquo;s queen, Margaret, raises an army. York breaks his oath to Henry and fights for the crown. After Margaret and her supporters kill York, Warwick proclaims that York&rsquo;s son Edward is king. Edward, now Edward IV, captures Henry.
Warwick breaks with King Edward and joins with Margaret to raise a French army. King Edward&rsquo;s brother Clarence joins with Warwick to capture Edward and free King Henry.
Richard, now Duke of Gloucester, rescues his brother, King Edward, who returns, captures King Henry, and leads an army against Warwick. When Clarence abandons Warwick, Warwick is defeated and killed. King Edward captures Margaret and helps to kill her son, Prince Edward. Richard murders King Henry and begins to plot his way to the crown.
</div>
<div class="play-navigation">
<button class="nav-synopsis">SYNOPSIS</button><button class="nav-act">ACT 1</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-scene">SCENE 3</button><button class="nav-scene">SCENE 4</button><button class="nav-act">ACT 2</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-scene">SCENE 3</button><button class="nav-scene">SCENE 4</button><button class="nav-scene">SCENE 5</button><button class="nav-scene">SCENE 6</button><button class="nav-act">ACT 3</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-scene">SCENE 3</button><button class="nav-act">ACT 4</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-scene">SCENE 3</button><button class="nav-scene">SCENE 4</button><button class="nav-scene">SCENE 5</button><button class="nav-scene">SCENE 6</button><button class="nav-scene">SCENE 7</button><button class="nav-scene">SCENE 8</button><button class="nav-act">ACT 5</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-scene">SCENE 3</button><button class="nav-scene">SCENE 4</button><button class="nav-scene">SCENE 5</button><button class="nav-scene">SCENE 6</button><button class="nav-scene">SCENE 7</button>
</div>
</div>

<div class="script-main">
    <div id="script-placeholder"></div>
    
    <div id="Play">
        <p><span id="Play ID_Title" class="play" data-display="true">Play Title</span></p>
        <div id="ACT ID">
            <p><button id="ACT ID1_Title" class="act" data-cut="false" data-display="true">ACT 1</button></p>
            <div id="SCENE ID">
                <p><button id="SCENE ID1_Title" class="scene" data-cut="false" data-display="true">SCENE 1</button></p>
                <button id="Character ID1" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid1" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
            </div>
            <div id="SCENE ID">
                <p><button id="SCENE ID2_Title" class="scene" data-cut="false" data-display="true">SCENE 2</button></p>
                <button id="Character ID2" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid2" class="word" data-cut="false" data-display="false" data-speaker="CHARACTER">theactualword</button>
            </div>
        </div>
    </div>
    <div id="ACT ID">
        <p><button id="ACT ID2_Title" class="act" data-cut="false" data-display="true">ACT 2</button></p>
        <div id="SCENE ID">
            <p><button id="SCENE ID3_Title" class="scene" data-cut="false" data-display="true">SCENE 1</button></p>
            <button id="Character ID3" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid3" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
        </div>
        <div id="SCENE ID">
            <p><button id="SCENE ID4_Title" class="scene" data-cut="false" data-display="true">SCENE 2</button></p>
            <button id="Character ID4" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid4" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
        </div>
    </div>
    
</div>

<script>


document.querySelector("#Play").addEventListener("click", doCut, false);

// all words will need to be printed with the div class "Play"
// change "p" to the tag for words (not including names) and we will be able to cut only words
function doCut(e) {
    if (e.target.id !== "Play") {
        var clickedItem = e.target;
        var word = e.target.id;
        if (clickedItem.tagName.toLowerCase() == "button") {
            if (clickedItem.dataset.cut.toLowerCase() == "false") {
                document.getElementById(word).style.color = "#D3D3D3";
                clickedItem.dataset.cut = "true";
            }
            else {
                document.getElementById(word).style.color = "#000000";
                clickedItem.dataset.cut = "false";
            }
        }
        
    }
//    e.stopPropagation();
};

var sceneButtons = document.getElementsByClassName("nav-scene");
var sceneLength = sceneButtons.length;
for (var i = 0; i < sceneLength; i++) {
    sceneButton = sceneButtons[i];
    sceneButton.addEventListener("click", showScene);
}

var actButtons = document.getElementsByClassName("nav-act");
var actLength = actButtons.length;
for (var i = 0; i < actLength; i++) {
    actButton = actButtons[i];
    actButton.addEventListener("click", showAct);
}

var hiddenSynopsis = document.getElementsByClassName("hidden-synopsis");
hiddenSynopsis[0].setAttribute("id", "hidden-synopsis");

var synopsisButtons = document.getElementsByClassName("nav-synopsis");
var synopsisLength = synopsisButtons.length;
for (var i = 0; i < synopsisLength; i++) {
    synopsisButton = synopsisButtons[i];
    synopsisButton.addEventListener("click", showSynopsis);
}

function showScene() {
    alert("Clicked on scene!");
}

function showAct() {
    alert("Clicked on act!");
}

function showSynopsis() {
    var hiddenSynopsis = document.getElementsByClassName("hidden-synopsis");
    if (hiddenSynopsis[0].id == "shown-synopsis") {
        hiddenSynopsis[0].setAttribute("id", "hidden-synopsis");
    } else {
        hiddenSynopsis[0].setAttribute("id", "shown-synopsis");  
    } 
}

</script>


<p id="print_script"></p>
<p id="synopsis-text"></p>



</body></html>
