<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<p id="notice"></p>

<div class="script-title">
     
<p id="title">The Taming of the Shrew</p>
</div>

<% doc = Nokogiri::XML(File.open("FolgerDigitalTexts_XML_Complete/MND.xml")) %>

<% title = doc.css('title').first %>
<script>
document.getElementById('title-placeholder').innerHTML = '<%= escape_javascript title.inner_text %>';
</script>

<% currAct = 1 %>
<% currScene = 1 %>

<% acts= doc.css('//div1') %>
<% acts.each do |act| %>
    <div class="acthead"> <%= "ACT " + currAct.to_s %> <br> </div></b>
    <% currAct = currAct + 1 %>
    <% scenes = Nokogiri::XML(act.to_s).css('//div2') %>
    <% scenes.each do |scene| %>
        <div class="scenehead"><%= "Scene " + currScene.to_s %></div><br>
        <% currScene = currScene + 1 %>
        <% lines = Nokogiri::XML(scene.to_s).css('//sp')%>
        <% lines.each do |line| %>
            <div class="line"> <%= line.inner_text %> </div> <br>
        <% end %>
    <% end%>
<%end%>

<div class="script-side-bar">
    <br><br>
    <div id="nav-placeholder"></div>
<div class="hidden-synopsis">
The Taming of the Shrew begins with an &ldquo;induction&rdquo; in which a nobleman plays a trick on a beggar, Christopher Sly, treating Sly as if he is a nobleman who has lost his memory. A play is staged for Sly&mdash;the play that we know as The Taming of the Shrew.
In the play, set in Padua, Lucentio and other suitors pursue Bianca, but are told by her father, Baptista, that her bad-tempered older sister, Katherine, must marry first. They encourage Petruchio, who has come to Padua to find a wealthy wife, to court Katherine and free Bianca to marry.
Petruchio negotiates marriage terms with Baptista, then has a stormy meeting with Katherine, after which he assures Baptista that the two have agreed to marry. Petruchio arrives late to their wedding dressed in strange clothes; he behaves rudely and carries Katherine away before the wedding dinner. At his home, he embarks on a plan to &ldquo;tame&rdquo; Katherine as one would tame a wild hawk. Starved and kept without sleep, Katherine eventually agrees with everything Petruchio  says, however absurd. He takes her back to Padua, where they attend Bianca&rsquo;s wedding. There Katherine proves more obedient to her husband than the other wives, whom she chastises before she and Petruchio go off to consummate their marriage.
</div>
<div class="play-navigation">
<button class="nav-synopsis">SYNOPSIS</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-act">ACT 1</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-act">ACT 2</button><button class="nav-scene">SCENE 1</button><button class="nav-act">ACT 3</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-act">ACT 4</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-scene">SCENE 3</button><button class="nav-scene">SCENE 4</button><button class="nav-scene">SCENE 5</button><button class="nav-act">ACT 5</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button>
</div>
</div>

<div class="script-main">
    <div id="script-placeholder"></div>

<script>


document.querySelector("#Play").addEventListener("click", doCut, false);

// all words will need to be printed with the div class "Play"
// change "p" to the tag for words (not including names) and we will be able to cut only words
function doCut(e) {
    if (e.target.id !== "Play") {
        var clickedItem = e.target;
        var word = e.target.id;
        if (clickedItem.tagName.toLowerCase() == "button") {
            if (clickedItem.dataset.cut.toLowerCase() == "false") {
                document.getElementById(word).style.color = "#D3D3D3";
                clickedItem.dataset.cut = "true";
            }
            else {
                document.getElementById(word).style.color = "#000000";
                clickedItem.dataset.cut = "false";
            }
        }
        
    }
//    e.stopPropagation();
};

var sceneButtons = document.getElementsByClassName("nav-scene");
var sceneLength = sceneButtons.length;
for (var i = 0; i < sceneLength; i++) {
    sceneButton = sceneButtons[i];
    sceneButton.addEventListener("click", showScene);
}

var actButtons = document.getElementsByClassName("nav-act");
var actLength = actButtons.length;
for (var i = 0; i < actLength; i++) {
    actButton = actButtons[i];
    actButton.addEventListener("click", showAct);
}

var hiddenSynopsis = document.getElementsByClassName("hidden-synopsis");
hiddenSynopsis[0].setAttribute("id", "hidden-synopsis");

var synopsisButtons = document.getElementsByClassName("nav-synopsis");
var synopsisLength = synopsisButtons.length;
for (var i = 0; i < synopsisLength; i++) {
    synopsisButton = synopsisButtons[i];
    synopsisButton.addEventListener("click", showSynopsis);
}

function showScene() {
    alert("Clicked on scene!");
}

function showAct() {
    alert("Clicked on act!");
}

function showSynopsis() {
    var hiddenSynopsis = document.getElementsByClassName("hidden-synopsis");
    if (hiddenSynopsis[0].id == "shown-synopsis") {
        hiddenSynopsis[0].setAttribute("id", "hidden-synopsis");
    } else {
        hiddenSynopsis[0].setAttribute("id", "shown-synopsis");  
    } 
}

</script>


<p id="print_script"></p>
<p id="synopsis-text"></p>



</body></html>
