<p id="notice"><%= notice %></p>

<p id="title"><strong>Title:</strong></p>

<form action="/edit_plays">
    <input type="submit" value="Edit Play" />
</form>

<p id="print_script"></p>


<div class="play-navigation">
	<div class="synopsis">SYNOPSIS</div>
	<div class="act-scene-bundle">
		<div class="act">ACT 1</div>
		<div class="scene-container">
			<div class="scene">SCENE 1</div>
			<div class="scene">SCENE 2</div>
			<div class="scene">SCENE 3</div>
		</div>
	</div>
	<div class="act-scene-bundle">
		<div class="act">ACT 2</div>
		<div class="scene-container">
			<div class="scene">SCENE 1</div>
			<div class="scene">SCENE 2</div>
		</div>
	</div>
	<div class="act-scene-bundle">
		<div class="act">ACT 3</div>
		<div class="scene-container">
			<div class="scene">SCENE 1</div>
			<div class="scene">SCENE 2</div>
			<div class="scene">SCENE 3</div>
			<div class="scene">SCENE 4</div>
		</div>
	</div>
</div>
