<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body>
<p id="notice"></p>

<div class="script-title">
    <!-- Note: The h5 tag below is just a placeholder for Nokogiri to parse the title into. Please do not get rid of it. -->
    <h5></h5>
<p id="title">Henry VI, Part 2</p>
</div>

<div class="script-side-bar">

<!-- Note: The h6 tag below is just a placeholder for Nokogiri to parse into (so it shouldn't actually hold any text). Everything inside the script-side-bar div is the navigation bar. The hidden-synopsis (which will be invisible on the page unless called) as well as the act and scene numbers will be parsed into here and will be changed within show2.html.erb and copied into here rather than written and changed directly in show.html.erb. -->
<h6></h6>
<div class="hidden-synopsis">
With a weak, unworldly king on the throne, the English nobility heightens its struggle for power in Henry VI, Part 2, leading to the brink of civil war.
At the start of the play, Henry meets his new bride, Margaret, to whom he has been married by proxy through Suffolk, her lover. Henry&rsquo;s popular and powerful uncle Gloucester, the Lord Protector, soon comes under attack by Margaret, Suffolk, Cardinal Beaufort, and others.
Gloucester&rsquo;s wife is shamed and exiled and Gloucester himself removed from office, then murdered on Suffolk&rsquo;s orders. Suffolk is banished, captured by pirates, and killed. Meanwhile, the cardinal dies, raving in madness because of his part in Gloucester&rsquo;s death.
A Kentish rebel, Jack Cade, leads a short-lived revolt, seizing London before his supporters desert him. He dies fighting in a garden. Soon another revolt emerges: Richard, Duke of York, leads an army against King Henry, who flees back to London. As the play ends, Richard&rsquo;s forces also move toward London.
</div>
<div class="play-navigation">
<button class="nav-synopsis">SYNOPSIS</button><button class="nav-act">ACT 1</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-scene">SCENE 3</button><button class="nav-scene">SCENE 4</button><button class="nav-act">ACT 2</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-scene">SCENE 3</button><button class="nav-scene">SCENE 4</button><button class="nav-act">ACT 3</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-scene">SCENE 3</button><button class="nav-act">ACT 4</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-scene">SCENE 3</button><button class="nav-scene">SCENE 4</button><button class="nav-scene">SCENE 5</button><button class="nav-scene">SCENE 6</button><button class="nav-scene">SCENE 7</button><button class="nav-scene">SCENE 8</button><button class="nav-scene">SCENE 9</button><button class="nav-scene">SCENE 10</button><button class="nav-act">ACT 5</button><button class="nav-scene">SCENE 1</button><button class="nav-scene">SCENE 2</button><button class="nav-scene">SCENE 3</button>
</div>
</div>

<div class="script-main">
    <div id="Play">
        <p><span id="Play ID_Title" class="play" data-display="true">Play Title</span></p>
        <div id="ACT ID">
            <p><button id="ACT ID1_Title" class="act" data-cut="false" data-display="true">ACT 1</button></p>
            <div id="SCENE ID">
                <p><button id="SCENE ID1_Title" class="scene" data-cut="false" data-display="true">SCENE 1</button></p>
                <button id="Character ID1" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid1" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
            </div>
            <div id="SCENE ID">
                <p><button id="SCENE ID2_Title" class="scene" data-cut="false" data-display="true">SCENE 2</button></p>
                <button id="Character ID2" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid2" class="word" data-cut="false" data-display="false" data-speaker="CHARACTER">theactualword</button>
            </div>
        </div>
    </div>
    <div id="ACT ID">
        <p><button id="ACT ID2_Title" class="act" data-cut="false" data-display="true">ACT 2</button></p>
        <div id="SCENE ID">
            <p><button id="SCENE ID3_Title" class="scene" data-cut="false" data-display="true">SCENE 1</button></p>
            <button id="Character ID3" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid3" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
        </div>
        <div id="SCENE ID">
            <p><button id="SCENE ID4_Title" class="scene" data-cut="false" data-display="true">SCENE 2</button></p>
            <button id="Character ID4" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid4" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
        </div>
    </div>
</div>

<script>


document.querySelector("#Play").addEventListener("click", doCut, false);

// all words will need to be printed with the div class "Play"
// change "p" to the tag for words (not including names) and we will be able to cut only words
function doCut(e) {
    if (e.target.id !== "Play") {
        var clickedItem = e.target;
        var word = e.target.id;
        if (clickedItem.tagName.toLowerCase() == "button") {
            if (clickedItem.dataset.cut.toLowerCase() == "false") {
                document.getElementById(word).style.color = "#D3D3D3";
                clickedItem.dataset.cut = "true";
            }
            else {
                document.getElementById(word).style.color = "#000000";
                clickedItem.dataset.cut = "false";
            }
        }
        
    }
//    e.stopPropagation();
};

var sceneButtons = document.getElementsByClassName("nav-scene");
var sceneLength = sceneButtons.length;
for (var i = 0; i < sceneLength; i++) {
    sceneButton = sceneButtons[i];
    sceneButton.addEventListener("click", showScene);
}

var actButtons = document.getElementsByClassName("nav-act");
var actLength = actButtons.length;
for (var i = 0; i < actLength; i++) {
    actButton = actButtons[i];
    actButton.addEventListener("click", showAct);
}

var hiddenSynopsis = document.getElementsByClassName("hidden-synopsis");
hiddenSynopsis[0].setAttribute("id", "hidden-synopsis");

var synopsisButtons = document.getElementsByClassName("nav-synopsis");
var synopsisLength = synopsisButtons.length;
for (var i = 0; i < synopsisLength; i++) {
    synopsisButton = synopsisButtons[i];
    synopsisButton.addEventListener("click", showSynopsis);
}

function showScene() {
    alert("Clicked on scene!");
}

function showAct() {
    alert("Clicked on act!");
}

function showSynopsis() {
    var hiddenSynopsis = document.getElementsByClassName("hidden-synopsis");
    if (hiddenSynopsis[0].id == "shown-synopsis") {
        hiddenSynopsis[0].setAttribute("id", "hidden-synopsis");
    } else {
        hiddenSynopsis[0].setAttribute("id", "shown-synopsis");  
    } 
}

</script>


<p id="print_script"></p>
<p id="synopsis-text"></p>



</body></html>
