<p id="notice"><%= notice %></p>

<p id="title"><strong>Title:</strong></p>

<div id="Play">
	<p><span id="Play ID_Title" class="play" data-display="true">Play Title</span></p>
	<div id="ACT ID">
		<p><button id="ACT ID1_Title" class="act" data-cut="false" data-display="true">ACT 1</button></p>
		<div id="SCENE ID">
			<p><button id="SCENE ID1_Title" class="scene" data-cut="false" data-display="true">SCENE 1</button></p>
    		<button id="Character ID1" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid1" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
		</div>
		<div id="SCENE ID">
			<p><button id="SCENE ID2_Title" class="scene" data-cut="false" data-display="true">SCENE 2</button></p>
    		<button id="Character ID2" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid2" class="word" data-cut="false" data-display="false" data-speaker="CHARACTER">theactualword</button>
		</div>
		</div>
	</div>
	<div id="ACT ID">
		<p><button id="ACT ID2_Title" class="act" data-cut="false" data-display="true">ACT 2</button></p>
    	<div id="SCENE ID">
			<p><button id="SCENE ID3_Title" class="scene" data-cut="false" data-display="true">SCENE 1</button></p>
    		<button id="Character ID3" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid3" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
		</div>
		<div id="SCENE ID">
			<p><button id="SCENE ID4_Title" class="scene" data-cut="false" data-display="true">SCENE 2</button></p>
    		<button id="Character ID4" class="character" data-cut="false" data-display="true">CHARACTER: </button><button id="wordid4" class="word" data-cut="false" data-display="true" data-speaker="CHARACTER">theactualword</button>
		</div>
	</div>
</div>

<script>


document.querySelector("#Play").addEventListener("click", doCut, false);

// all words will need to be printed with the div class "Play"
// change "p" to the tag for words (not including names) and we will be able to cut only words
function doCut(e) {
    if (e.target.id !== "Play") {
        var clickedItem = e.target;
        var word = e.target.id;
        if (clickedItem.tagName.toLowerCase() == "button") {
            if (clickedItem.dataset.cut.toLowerCase() == "false") {
                document.getElementById(word).style.color = "#D3D3D3";
                clickedItem.dataset.cut = "true";
            }
            else {
                document.getElementById(word).style.color = "#000000";
                clickedItem.dataset.cut = "false";
            }
        }
        
    }
//    e.stopPropagation();
};

</script>


<p id="print_script"></p>

<<<<<<< HEAD
  
  
</p>
<div></div>
<h5></h5>
=======

<div class="play-navigation">
	<div class="synopsis">SYNOPSIS</div>
	<div class="act-scene-bundle">
		<div class="act">ACT 1</div>
		<div class="scene-container">
			<div class="scene">SCENE 1</div>
			<div class="scene">SCENE 2</div>
			<div class="scene">SCENE 3</div>
		</div>
	</div>
	<div class="act-scene-bundle">
		<div class="act">ACT 2</div>
		<div class="scene-container">
			<div class="scene">SCENE 1</div>
			<div class="scene">SCENE 2</div>
		</div>
	</div>
	<div class="act-scene-bundle">
		<div class="act">ACT 3</div>
		<div class="scene-container">
			<div class="scene">SCENE 1</div>
			<div class="scene">SCENE 2</div>
			<div class="scene">SCENE 3</div>
			<div class="scene">SCENE 4</div>
		</div>
	</div>
</div>
>>>>>>> b31b83efc4c7efd90d7c38c0be4cee6f707693d6
