<p id="notice"><%= notice %></p>

<p id="title"><strong>Title:</strong></p>

<form action="/edit_plays/1">
    <input type="submit" value="Edit Play" />
</form>

<p id="print_script"></p>

  
  
</p>
<div></div>
<h5></h5>

