<h3> Choose a speaker: </h3>

<% @hash.each do |k, v| %>

  <%= k %>
  <br>

<% end %>


<%= form_tag ('/script') do %>
<p> Enter the speaker: <%= text_field_tag :id %>   </p>
<%= submit_tag "Cue Script" %>
<% end %>
