<!-- This file controls the view for the website's front page.
It can be found at app/views/home/homepage.html.erb -->

<!-- This file uses the app/assets/stylesheets/home.scss file for controlling its css. -->

<!DOCTYPE html>
<html>
	<head>
		<title>HMC Script Editor</title>
		<link rel="stylesheet" type"text/css" style = "color: #FDEDD9" href="home.scss"/>		
	</head>

	<!-- Here is where we set the tan color that is the background color for the page.
	It needs to be set here to work. It does not work when set in the .scss file. -->
	<body style = "background-color: #faebd7">
		<div id="heading">
			<!-- The picture of Shakespeare and the words "Shakespeare Script Editor"
			are part of this image. -->
			<img id="titleimg" src="/Title.png" >
		</div>

		<br />

		<ul id="plays-history-nav-bar">
			<h2>Histories</h2>
			<hr style = "background-color: #faebd7"></hr>
			<% @plays = Play.where(:category => 0) %>
			<% @plays.each do |play| %>
				<li class = "play-title">
					<%= link_to play.title, play_path(play), :style=> 'color: #FDEDD9'%>
				</li><br>
			<% end %>
		</ul>

		<ul id="plays-comedy-nav-bar">
		    <h2>Comedies</h2>
			<hr style = "background-color: #faebd7"></hr>
			<% @plays = Play.where(:category => 1) %>
			<% @plays.each do |play| %>
				<li class = "play-title">
					<%= link_to play.title, play_path(play), :style=> 'color: #FDEDD9'%>
				</li><br>
			<% end %>
			</ul>

		<ul id="plays-tragedy-nav-bar">
		    <h2>Tragedies</h2>
			<hr style = "background-color: #faebd7"></hr>
			<% @plays = Play.where(:category => 2) %>
			<% @plays.each do |play| %>
				<li class = "play-title">
					<%= link_to play.title, play_path(play), :style=> 'color: #FDEDD9'%>
				</li><br>
			<% end %>
			</ul>
	</body>
</html>
