<!DOCTYPE html>
<html>
<head>
	<title>Script Editor</title>
	<!-- Home#homepage html -->
	<!-- Find me in app/views/home/homepage.html.erb -->
	<link rel="stylesheet" type"text/css" href="home.scss"/>
</head>

<body>
	<h1>Script Editor Home</h1>

	<ul id="navigation-bar">
		<li><a href="#">Home</a></li>
	</ul>

	<p> A blank page, yay! </p>
</body>

</html>
