<!DOCTYPE html>
<html>
	<head>
		<title>Script Editor</title>
		<!-- Home#homepage html -->
		<!-- Find me in app/views/home/homepage.html.erb -->
		<link rel="stylesheet" type"text/css" href="home.scss"/>		
	</head>

	<body style = "background-color: #faebd7">
		<div id="heading">
			<img id="titleimg" src="/Title.png" >
		</div>

		<ul id="navigation-bar">
			<div id="search-enclose">
	    		<form id="searchbar" method="get" action="#">
	        		<input onclick="erase()" type="text" id="searchinput" value="Enter Play Name...">
	        		<input type="submit" id="search" value="View Play">
	    		</form>
			</div>
		</ul>

		<p id="searchquery"></p>

		<script>
		function erase(){
			document.getElementById('searchinput').value = "";
		}
		</script>

		<script>
		var playList = ["a_midsummer_nights_dream", "alls_well_that_ends_well", "antony_and_cleopatra", "as_you_like_it", "coriolanus", "cymbeline", "hamlet", "henry_iv_part_1", "henry_iv_part_2", "henry_v", "henry_vi_part_1", "henry_vi_part_2", "henry_vi_part_3", "henry_viii", "julius_caesar", "king_john", "king_lear", "loves_labors_lost", "lucrece", "macbeth", "measure_for_measure", "much_ado_about_nothing", "othello", "pericles", "richard_ii", "richard_iii", "romeo_and_juliet", "taming_of_the_shrew", "the_comedy_of_errors", "the_merchant_of_venice", "the_merry_wives_of_windsor", "the_tempest", "the_two_gentlemen_of_verona", "the_winters_tale", "timon_of_athens", "titus_andronicus", "troilus_and_cressida", "twelfth_night", "venus_and_adonis"];

		var a = document.getElementById('searchbar');
	    a.addEventListener('submit',function(e) {
	        e.preventDefault();
	        var b = document.getElementById('searchinput').value;
	        b = (b.replace(/ /g,'_')).toLowerCase();
	        if(playList.indexOf(b)!=-1){
	        	window.location.href = '/plays/' + b;
	    	}
	    	else{
	    		document.getElementById('searchquery').innerHTML = "Sorry please try again";
	    	}
	    });
	    </script>


		<ul id="plays-historical-nav-bar">
			<h2>Historical</h2>
			<hr style = "background-color: #faebd7"></hr>
			<li class = "play-title"><a href='/plays/henry_iv_part_1'>Henry IV, Part 1</a></li><br>
			<li class = "play-title"><a href='/plays/henry_iv_part_2'>Henry IV, Part 2</a></li><br>
			<li class = "play-title"><a href='/plays/henry_v'>Henry V</a></li><br>
			<li class = "play-title"><a href='/plays/henry_vi_part_1'>Henry VI, Part 1</a></li><br>
			<li class = "play-title"><a href='/plays/henry_vi_part_2'>Henry VI, Part 2</a></li><br>
			<li class = "play-title"><a href='/plays/henry_vi_part_3'>Henry VI, Part 3</a></li><br>
			<li class = "play-title"><a href='/plays/henry_viii'>Henry VIII</a></li><br>
			<li class = "play-title"><a href='/plays/king_john'>King John</a></li><br>
			<li class = "play-title"><a href='/plays/pericles'>Pericles</a></li><br>
			<li class = "play-title"><a href='/plays/richard_ii'>Richard II</a></li><br>
			<li class = "play-title"><a href='/plays/richard_iii'>Richard III</a></li><br>
		</ul>

		<ul id="plays-comedy-nav-bar">
		    <h2>Comedies</h2>
			<hr style = "background-color: #faebd7"></hr>
			<li class = "play-title"><a href='/plays/alls_well_that_ends_well'>All's Well That Ends Well</a> </li><br>
			<li class = "play-title"><a href='/plays/as_you_like_it'>As You Like It</a></li><br>
			<li class = "play-title"><a href='/plays/the_comedy_of_errors'>The Comedy of Errors</a></li><br>
			<li class = "play-title"><a href='/plays/loves_labors_lost'>Love's Labor's Lost</a></li><br>
			<li class = "play-title"><a href='/plays/measure_for_measure'>Measure for Measure</a></li><br>
			<li class = "play-title"><a href='/plays/the_merchant_of_venice'>The Merchant of Venice</a></li><br>
			<li class = "play-title"><a href='/plays/the_merry_wives_of_windsor'>The Merry Wives of Windsor</a></li><br>
			<li class = "play-title"><a href='/plays/a_midsummer_nights_dream'>A Midsummer Night's Dream</a></li><br>
			<li class = "play-title"><a href='/plays/much_ado_about_nothing'>Much Ado About Nothing</a></li><br>
			<li class = "play-title"><a href='/plays/taming_of_the_shrew'>Taming of the Shrew</a></li><br>
			<li class = "play-title"><a href='/plays/the_tempest'>The Tempest</a></li><br>
			<li class = "play-title"><a href='/plays/twelfth_night'>Twelfth Night</a></li><br>
			<li class = "play-title"><a href='/plays/the_two_gentlemen_of_verona'>The Two Gentlemen of Verona</a></li><br>
			<li class = "play-title"><a href='/plays/the_winters_tale'>The Winter's Tale</a></li><br>
		</ul>

		<ul id="plays-tragedy-nav-bar">
		    <h2>Tragedies</h2>
			<hr style = "background-color: #faebd7"></hr>
			<li class = "play-title"><a href='/plays/antony_and_cleopatra'>Antony and Cleopatra</a></li><br>
			<li class = "play-title"><a href='/plays/coriolanus'>Coriolanus</a></li><br>
			<li class = "play-title"><a href='/plays/cymbeline'>Cymbeline</a></li><br>
			<li class = "play-title"><a href='/plays/hamlet'>Hamlet</a></li><br>
			<li class = "play-title"><a href='/plays/julius_caesar'>Julius Caesar</a></li><br>
			<li class = "play-title"><a href='/plays/king_lear'>King Lear</a></li><br>
			<li class = "play-title"><a href='/plays/macbeth'>Macbeth</a></li><br>
			<li class = "play-title"><a href='/plays/othello'>Othello</a></li><br>
			<li class = "play-title"><a href='/plays/romeo_and_juliet'>Romeo and Juliet</a></li><br>
			<li class = "play-title"><a href='/plays/timon_of_athens'>Timon of Athens</a></li><br>
			<li class = "play-title"><a href='/plays/titus_andronicus'>Titus Andronicus</a></li><br>
			<li class = "play-title"><a href='/plays/troilus_and_cressida'>Troilus and Cressida</a></li><br>
		</ul>
	</body>
</html>