<!DOCTYPE html>
<html>
<head>
	<title>Script Editor</title>
	<!-- Home#homepage html -->
	<!-- Find me in app/views/home/homepage.html.erb -->
	<link rel="stylesheet" type"text/css" href="home.scss"/>
</head>

<body>
	<h1>Script Editor Home</h1>

	<ul id="navigation-bar">
		<li><a href="#">Home</a></li>
	</ul>
	<ul id="plays-navigation-bar">
		<br>
		<li><a href='#'>All's Well That Ends Well</a></li><br>
		<li><a href='#'>Antony and Cleopatra</a></li><br>
		<li><a href='#'>As You Like It</a></li><br>
		<li><a href='#'>The Comedy of Errors</a></li><br>
		<li><a href='#'>Coriolanus</a></li><br>
		<li><a href='#'>Cymbeline</a></li><br>
		<li><a href='#'>Hamlet</a></li><br>
		<li><a href='#'>Henry IV, Part 1</a></li><br>
		<li><a href='#'>Henry IV, Part 2</a></li><br>
		<li><a href='#'>Henry V</a></li><br>
		<li><a href='#'>Henry VI, Part 1</a></li><br>
		<li><a href='#'>Henry VI, Part 2</a></li><br>
		<li><a href='#'>Henry VI, Part 3</a></li><br>
		<li><a href='#'>Henry VIII</a></li><br>
		<li><a href='#'>Julius Caesar</a></li><br>
		<li><a href='#'>King John</a></li><br>
		<li><a href='#'>King Lear</a></li><br>
		<li><a href='#'>Love's Labor's Lost</a></li><br>
		<li><a href='#'>Lucrece</a></li><br>
		<li><a href='#'>Macbeth</a></li><br>
		<li><a href='#'>Measure for Measure</a></li><br>
		<li><a href='#'>The Merchant of Venice</a></li><br>
		<li><a href='#'>The Merry Wives of Windsor</a></li><br>
		<li><a href='#'>A Midsummer Night's Dream</a></li><br>
		<li><a href='#'>Much Ado About Nothing</a></li><br>
		<li><a href='#'>Othello</a></li><br>
		<li><a href='#'>Pericles</a></li><br>
		<li><a href='#'>The Phoenix and Turtle</a></li><br>
		<li><a href='#'>Richard II</a></li><br>
		<li><a href='#'>Richard III</a></li><br>
		<li><a href='#'>Romeo and Juliet</a></li><br>
		<li><a href='#'>Shakespeare's Sonnets</a></li><br>
		<li><a href='#'>Taming of the Shrew</a></li><br>
		<li><a href='#'>The Tempest</a></li><br>
		<li><a href='#'>Timon of Athens</a></li><br>
		<li><a href='#'>Titus Andronicus</a></li><br>
		<li><a href='#'>Troilus and Cressida</a></li><br>
		<li><a href='#'>Twelfth Night</a></li><br>
		<li><a href='#'>The Two Gentlemen of Verona</a></li><br>
		<li><a href='#'>The Two Noble Kinsmen</a></li><br>
		<li><a href='#'>Venus and Adonis</a></li><br>
		<li><a href='#'>The Winter's Tale</a></li><br>
	</ul>

	<p> A blank page, yay! </p>
</body>

</html>
