<!-- This file controls the view for the website's about page.
It can be found at app/views/pages/about.html.erb -->

<!-- This file does not have a corresponding .scss file. -->

<html><body style = "background-color: #faebd7; padding-top: 0px;">

<h1>About</h1>
<p style = "text-align: left">This Shakespeare Script Editor was designed for Professor Dadabhoy and Professor Ben's Shakespeare class. The purpose for this editor is to simplify the process of cutting scripts for their class.</p>

<p style = "font-weight: bold; text-decoration: underline; text-align: left;">Developers</p>

<p style = "text-align: left"> MLCH was the first group to work on this project. It's members were Mahlet Melaku, Lee Norgaard, Crystal Xiang, and Holly Mitchell. </p>

<p style = "text-align: left"> EIJA was the second group to work on this project. It's members were Evan Amason, Izzy Jones, Jake Palanker, and Ashley Schmit. </p>

<p style = "text-align: left"> Team StagHens was the third group to work on this project. It's members were Dhruv Sawhney, Parth Desai, Alasdair Johnson and Victor Ginelli. </p>

</body></html>