<h1>About</h1>
<p>This Shakespeare Script Editor was designed for Professor Dadabhoy and Professor Ben's Shakespeare class. The purpose for this editor is to simplify the process of cutting scripts for their class.</p>

<p style = "font-weight: bold; text-decoration: underline"> Question and Answer </p>

<p> Still to be written. <p>

<p style = "font-weight: bold; text-decoration: underline">Developers</p>

<p> MLCH was the first group to work on this project. It's members were Mahlet Melaku, Lee Norgaard, Crystal Xiang, and Holly Mitchell. </p>

<p> EIJA was the second group to work on this project. It's members were Evan Amason, Izzy Jones, Jake Palanker, and Ashley Schmit. </p>


