// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// This variable controls the color of the category elements.
$category-color: #70708B;

body{
	text-align: center;
}

li.play-title {
	height: 30px;
    text-align: center;
    background-color: #70708B;
    border-width: 1px;
    border-color: #70708B;
    width: 100%;
    transition: 0.3s;
    position: relative;
}

h1 {
	text-transform: uppercase;
	font-family: serif;
}

#heading {
	height: 110px;
}

#titleimg {
	height: 100%;
}

h2 {
	text-transform: uppercase;
	font-family: serif;
	font: Georgia;
	color: #faebd7;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    margin: 1em 0.75em;
    padding: 0;
}

#plays-comedy-nav-bar, #plays-tragedy-nav-bar, #plays-history-nav-bar, li a:hover {
	color: white;
}

#plays-comedy-nav-bar {
	display: inline-block;
	width: 25%;
	list-style: none;
	margin: 5px;
	padding: 10px;
	background-color: $category-color;
	text-transform: uppercase;
}

#plays-history-nav-bar {
	position: relative;
	float: left;
	width: 20%;
	list-style: none;
	margin: 5px;
	padding: 10px;
	background-color: $category-color;
	text-transform: uppercase;
}

#plays-tragedy-nav-bar {
	position: relative;
	float: right;
	width: 20%;
	list-style: none;
	margin: 5px;
	padding: 10px;
	background-color: $category-color;
	text-transform: uppercase;
}

#plays-history-nav-bar li a{
	text-decoration: none;
	float: center;
}

#plays-comedy-nav-bar li a{
	text-decoration: none;
	float: center;
}

#plays-tragedy-nav-bar li a{
	text-decoration: none;
	float: center;
}