// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	text-align: center;
}

li.play-title {
	height: 30px;
    text-align: center;
    background-color: #b2b2ff;
    border-style: solid;
    border-width: 1px;
    border-color: #000033;
    width: 100%;
    transition: 0.3s;
    position: relative;
}

li.play-title:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
}

h1 {
	text-transform: uppercase;
	font-family: serif;
}

#heading {
	height: 110px;
}

#titleimg {
	height: 100%;
}

h2 {
	text-transform: uppercase;
	font-family: serif;
	font: Georgia;
	color: #faebd7;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 1.5px solid #FFFFFF;
    margin: 1em 0.75em;
    padding: 0;
}

#navigation-bar {
	list-style: none;
	margin: 10px;
	padding: 12px;
	background-color: #d4d4d4;
	text-transform: uppercase;
}

#navigation-bar li {
	display: inline;
}

#navigation-bar li a {
	width: 15em;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #7f7f7f;
}

#navigation-bar, #plays-comedy-nav-bar, #plays-tragedy-nav-bar, #plays-historical-nav-bar, li a:hover {
	color: white;
}

#plays-comedy-nav-bar {
	display: inline-block;
	width: 25%;
	list-style: none;
	margin: 5px;
	padding: 10px;
	background-color: #7f7fbf;
	text-transform: uppercase;
}

#plays-historical-nav-bar {
	position: relative;
	float: left;
	width: 20%;
	list-style: none;
	margin: 5px;
	padding: 10px;
	background-color: #7f7fbf;
	text-transform: uppercase;
}

#plays-tragedy-nav-bar {
	position: relative;
	float: right;
	width: 20%;
	list-style: none;
	margin: 5px;
	padding: 10px;
	background-color: #7f7fbf;
	text-transform: uppercase;
}

#plays-historical-nav-bar li a{
	text-decoration: none;
	float: center;
}

#plays-comedy-nav-bar li a{
	text-decoration: none;
	float: center;
}

#plays-tragedy-nav-bar li a{
	text-decoration: none;
	float: center;
}