// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	text-align: center;
}

h1 {
	text-transform: uppercase;
}

#navigation-bar {
	list-style: none;
	margin: 10px;
	padding: 12px;
	background-color: #d4d4d4;
	text-transform: uppercase;
}

#navigation-bar li {
	display: inline;
}

#navigation-bar li a {
	width: 15em;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #7f7f7f;
}

#navigation-bar, #plays-comedy-nav-bar, #plays-tragedy-nav-bar, #plays-historical-nav-bar, li a:hover {
	color: white;
}

#plays-historical-nav-bar {
	float: center;
	width: 20%;
	list-style: none;
	margin: 10px;
	padding: 10px;
	background-color: #d4d4d4;
	text-transform: uppercase;
}

#plays-comedy-nav-bar {
	float: center;
	width: 20%;
	list-style: none;
	margin: 10px;
	padding: 10px;
	background-color: #d4d4d4;
	text-transform: uppercase;
}

#plays-tragedy-nav-bar {
	float: center;
	width: 20%;
	list-style: none;
	margin: 10px;
	padding: 10px;
	background-color: #d4d4d4;
	text-transform: uppercase;
}

#plays-historical-nav-bar li a{
	text-decoration: none;
	color: #7f7f7f;
	float: center;
}

#plays-comedy-nav-bar li a{
	text-decoration: none;
	color: #7f7f7f;
	float: center;
}

#plays-tragedy-nav-bar li a{
	text-decoration: none;
	color: #7f7f7f;
	float: center;
}