// Place all the styles related to the plays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media print { 
    .noprint { 
        display:none; 
    }
}

body { 
    font-family: 'Times New Roman'; 
    font-size:13pt; 
    margin:10px 0px; 
    padding:0px;
}

div.stage {
    font-style: italic;
}

p.lineNum {
    padding: 0px;
    margin-right: 10px;
    font-size: 14px;
    display: inline;
    color: gray;
    font-family: serif;
}

p.speaker {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    display: inline;
}

br { 
    clear:both; 
}

#Home-button {
    display: inline-block;
    float: left;
    height: 100%;
    width: 30%;
    font-size: 20px;
    font-family: serif;
    background-color: #3f3f5f;
}

#About-button {
    display: inline-block;
    float: right;
    height: 100%;
    width: 8%;
    font-size: 20px;
    font-family: serif;
    background-color: #3f3f5f;
    margin-right: 5px;
}

#home {
    text-decoration: none;
}

#play-title {
    display: inline-block;
}

/////////////////////////////////
// For script's page sections
/////////////////////////////////

div.script-title {
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: #3f3f5f; 
    width: 100%; 
    height: 6%;
    z-index:0;
}

div.script-side-bar {
    position: fixed;
    width: 20%;
    overflow-y: scroll;
    top: 6%;
    bottom: 0;
    left: 0;
    background-color: #3f3f5f;
    z-index: 1;
    margin-right: 1%;
}

div.script-main {
    position: fixed;
    width: 50%;
    overflow-y: scroll;
    top: 10%;
    bottom: 0;
    right: 15%;
    z-index:0;
    color: b6a5a5;
}

div.sceneDiv {
    text-align: left;
    // The following code will prevent the user from using
    // the browser's default highlighting function.
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -o-user-select: none;
    user-select: none;
}

#title {
    text-align: center;
    font-size: 24px;
    font-family: 'Courier New';
    color: #faebd7;
}

#about {
    text-align: center;
    font-size: 20px;
    font-family: 'Courier New';
    color: #faebd7;
}

/////////////////////////////////
// For editable word buttons
/////////////////////////////////

.punc {
    background:none;
    background-color: none;
    padding: 0px;
    margin: 0px;
    margin-left: -5px;
    border:none; 
    font-size: 14px;
}

.word {
    background:none;
    background-color: none;
    padding: 0px;
    margin: 0px;
    border:none;
    font-size: 14px;
}

.stage {
     background:none;
     background-color: none;
     color:#000000;
     text-decoration: none;
     border:none;
     padding:0!important;
     font-size: 14px;
}

.acthead {
     background:none;
     background-color: none;
     color:#000000;
     text-decoration: none;
     border:none;
     text-align: left;
     margin-left: 25px;
     padding:0!important;
     font-size: 28px;
}

.scenehead {
     background:none;
     background-color: none;
     color:#000000;
     text-decoration: none;
     border:none;
     text-align: left;
     margin-left: 25px;
     padding:0!important;
     font-size: 20px;
}

.character {
     background:none!important;
     color:#000000;
     text-decoration: none;
     border:none; 
     text-align: left;
     margin-left: 25px;
     padding:0!important;
}

/////////////////////////////////
// For the navigation bar
/////////////////////////////////

div.play-navigation {
    float: left; 
    width: 80%; 
    background-color: #000033;
    border-style: solid;
    border-width: 1px;
    border-color: #000033;
    margin-left: 25px;
    margin-bottom: 30px;
    margin-right: 25px;
    margin-top: 10%;
} 

button.nav-synopsis, button.nav-analytics {
    height: 40px;
    text-align: center;
    background-color: #7f7fbf;
    border-style: solid;
    border-width: 1px;
    border-color: #000033;
    width: 100%;
    transition: 0.3s;
    position: relative;
}

button.nav-synopsis:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
}

button.nav-analytics {
    height: 40px;
    text-align: center;
    background-color: #b2b2ff;
    border-style: solid;
    border-width: 1px;
    border-color: #000033;
    width: 100%;
    transition: 0.3s;
}

button.nav-analytics:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
}

button.nav-act { 
    height: 40px;
    text-align: left;
    background-color: #7f7fbf;
    border-style: solid;
    border-width: 1px;
    border-color: #000033;
    width: 100%;
    transition: 0.3s;
    position: relative;
} 

button.nav-act:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
}

button.nav-scene {
    height: 30px;
    text-align: left;
    background-color: #b2b2ff;
    border-style: solid;
    border-width: 1px;
    border-color: #000033;
    width: 85%;
    float: right;
    transition: 0.3s;
    position: relative;
} 

button.nav-scene:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 2;
}

/* The Modal (background) */
.shown-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close, .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus, 
.close2:hover, 
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

// Use CSS style options for XML tags in the same way as HTML tags
//
// TAGS ...
// pb : beginning of page in print edition
// milestone : something about page attributes
// fw : act/scene header for each page in print edition
// lb : line break in print edition
// div1 : marks acts
// div2 : marks scenes
// head : Act/Scene header
// stage : stage directions
// sound : sound cues
// sp : speech
// speaker : sppech prefix
// ab : within sp tags, contains text of speech
// w : word
// c : space
// pc : punctuation
// gap : editorial placeholders for missing/unclear words
// ptr : pointer for w, c, pc, anchor elements
// seg : song/poem/letter segment
// label : header to song or dumbshow
// q : quoted sections
// foreign : non-english words
// name : a proper name
// title : a title
// hi : highlighted
// anchor : areas where content in a prior source text is not present
// app : critical apparatus containing variant readings from prior publications.
//
// ATTRIBUTES ...
// n : line/act/scene/page/etc. number
// type : type of division/stage direction/sound etc.
// who : identifies character associate with tag


// Used background colors to try to differentiate sections/elements of text

listPerson { font-style: italic; }
language { display: none; }

div { padding-bottom: 0px; padding-top: 0px;}

div1 { background-color: #A76DD6; display: block; }

div2 { background-color: #E66760; display: block; }

body { padding-left: 100px; padding-right: 40px; }

speaker { font-weight: bold; background-color: orange; }

sp { background-color: #84EBF0; display: block; }

milestone{ display: block; }

// I don't know why this doesn't work for Act and Scene headers... 
head {
	display: block;
	font-size: 28px;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: bold;
}

stage { font-style: italic; display: block; background-color: pink;}

// Hid act/scene page tags for print-edition, revision notes, and all the descriptive text at the beginning of the xml file
fw, front, encodingDesc, fileDesc, change { display: none; }









.hidden {display:none;}
pageBlock { width:500px; padding:10px; margin-left:60px; border:1px solid black;}
.textBlock { position:relative; width:480px; padding:10px;}
.pageBorder { width:480px; height:1px; margin-top:50px; }
.pageHeading { width:420px; padding:10px; padding-top:30px; margin: 20px 0px; border-bottom:3px solid black; font-style:normal; font-weight: normal; color:black; page-break-before:always; }
.pageNbr { float:left; width:75px; text-align:left; }
.pageTitle { float:left; width:240px; text-align:center; font-style:italic; font-size:14pt; }
.pageDesc { float:right; text-align:right; font-size:8pt; font-variant:small-caps; }
.actFooter { width:430px; text-align:center; padding-top:5px; font-style:normal; }
.titleImg { width: 400px; padding: 0px 20px; }

.div1 { text-align:left; width:100%; }
.frontHeader { position:relative; width:480px; text-align:center; font-weight:bold; font-size:16pt; margin-bottom:50px; margin-top:10px;}
.castDiv { position:relative; float:left; }
.castHeadDiv { float:left;display:table; }
.castHead { font-style:italic; display:table-cell; vertical-align:middle; }
.bracketDiv { position:relative; float:left; padding:0px 5px; width:5px;}
.castName { font-size:10pt; text-transform:uppercase; font-variant:small-caps; }
.actHeader { position:relative; width:430px; text-align:center; font-style:italic; font-weight:bold; font-size:16pt; border-bottom:5px solid black; padding-bottom:5px; margin-bottom:50px; margin-top:100px;}
.sceneHeader { position:relative; width:430px; text-align:center; }
.blankHeader { position:relative; width:430px; margin-top:100px;}
.page { page-break-before:always; }
.credits { position:relative;padding-top:200px;width:480px;text-align:center; }
.signed { display:block; float:right; text-align:right; width:auto; padding-right:00px; }


.emendation { font-style:normal; font-weight:normal; }
.lineNbr { position:absolute; left:475px; top:auto; width:auto; font-style:normal; font-weight:normal; font-size:12pt; line-height:20px;  }
.ftln { color:gray; position:absolute; left:-68px; top:auto; width:auto; font-style:normal; font-weight:normal; font-size:8pt; line-height:20px; }
.alignment {}

.centered { display:inline-block; text-align:center; width:430px; }
.centred { display:inline-block; text-align:center; width:430px; }
.right { display:inline-block; float:right; text-align:right; width:auto; padding-right:60px; }
.indentProse { padding-left:30px; }
.indentVerse { padding-left:15px; }
.indentRunOn { padding-left:30px; }
.indentSplit { padding-left:00px; }
.indentInline { padding-left:10px; }
.indentClosing { padding-left:50px; }
.indent { padding-left:8px; }
.inline { padding-left:0px; }
.indentTest { padding-left:50px; }
.closing { display:inline-block; padding-left:30px;  }
.closingSig { display:inline-block; float:right; text-align:right; width:auto;}
.closingSig { display:inline-block; padding-left:20px; float:right; text-align:left; width:auto; }
.signature { display:inline-block; float:right; text-align:left; width:auto; padding-right:60px; }

.speaker { clear:both; float:left; font-style:normal; font-variant:small-caps; font-size:10pt; line-height:20px; }
.speakerName { font-style:normal; font-variant:small-caps; font-size:10pt; line-height:20px;}


.stage { font-style:italic; }

.imgEmend { position:relative; height:16px; }
.imgTextX { position:relative; top:3px; height:16px; width:6px; }

.w { border: 1px solid blue; }
.pc { border: 1px solid green; }
.c { background-color: red; }


.docTitle {text-align:center; font-style:italic; font-size:40px;}
.titlePage { text-align: center; width: 100% }
.head { text-align: center; width: 100% }
.runningHeader { float:left;text-align:center;width:100%; padding: 15px 0px;}
.trailer { text-align: center; width: 100%; }

.bold { font-weight: bold; }
.italic { font-style: italic; }
.roman { font-style: normal; }
.underlined { text-decoration: underline; }
.underlining { text-decoration: underline; }
.superscript { vertical-align: super; }
.indented { padding-left: 60px; }

.gap { color:red; }
.add { color:blue; }
.del { color:black; }
.note { color:gray; }

.red { color:red; }
.blue { color:blue; }
.black { color:black; }
.gray { color:gray; }
.bckblue { background-color:blue; }

.speech { clear:both; float:left; padding:0 0px; background-color: white; font-family:times new roman; }
.line { float:left; background-color:transparent; padding: 0 15px; width:auto; }
.indented { padding-left: 60px; }
.turnunder { padding-left: 30px; }
.right-justified { text-align: justify; }
.prose { border: 0px solid blue; }
.proseIndent { padding-left: 30px; }
.song { font-style:italic; padding-left:60px; }
.poem { padding-left:60px; }
.lgIndent { padding-left:80px; }
.indent { padding-left:15px; }
.lg { width: 300px; padding-left: 60px; }
