// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// The color of the edit title and saved edits cards.
$edit-title-color: #7f7fbf;
$edits-color: #70708B;

body { 
    font-family: 'Times New Roman'; 
    font-size:13pt; 
    margin: 0px; 
    padding:0px;
}

table {
    margin: auto;
}

tr.user_field > td {
    padding-bottom: 5px;
    font-size: 15px;
}

.title-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: auto;
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: $edit-title-color;

    font-size: 20px;
    font-family: serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: auto;
    width: 50%;
    height: 50px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: Aquamarine;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.saved-edits {
    display: block;
    margin: auto;
    width: 80%
}